swagger: '2.0'
info:
  version: '1.0'
  title: "API Office"
  description: API de Gestión de oficinas 

host: "nmp.com.mx"
basePath: "/v1"

schemes:
- https
consumes:
- application/json
produces:
- application/json

securityDefinitions:
  BasicAuth:
    type: basic
  ApiKeyAuth:
    type: apiKey
    in: header
    name: X-API-Key
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://nmp.com.mx/oauth/authorize
    tokenUrl: https://nmp.com.mx/oauth/token

definitions:

## Definicion de responses genericas
  
  GenericResponse:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-201
      status:
        type: string
        example: SUCCESS
      message:
        type: string
        example: Se ha realizado correctamente la operación
  
  BadRequest:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-400
      message:
        type: string
        example: La solicitud no se encuentra bien formada
  
  Unauthorized:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-401
      message:
        type: string
        example: Se ha producido un error de autorización
  
  Forbidden:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-403
      message:
        type: string
        example: Se ha producido un error de autorización
  
  NotFound:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-404
      message:
        type: string
        example: No se encontraron resultados
  
  InternalServerError:
    type: object
    properties:
      code:
        type: string
        example: NMP-CRD-500
      message:
        type: string
        example: Ocurrio un error interno en el servidor.

## Pagination Resources

  Link:
    type: object
    properties:
      key:
        type: string
      value: 
        type: string

  LinkArray:
    type: array
    items:
      $ref: "#/definitions/Link"

  Page:
    type: object
    description: Información de paginación
    required: 
      - number
      - size
      - totalPages
      - totalElements
    properties:
      number:
        type: integer
        description: Número de página
      size: 
        type: integer
        description: Número de elementos solicitados
      totalPages:
        type: integer
        description: Número de páginas encontradas
      totalElements:
        type: integer
        description: Total de coincidencias encontradas

## Constantes
  
  SortDirection: &SORT_DIRECTION
    type: string
    description: >
      Son los :
        - ASC - Ordenamiento Ascendente
        - DESC - Ordenamiento Descendente
    enum:
      - ASC
      - DESC

  UnidadOrganizacional: &UnidadOrganizacional
    type: string
    description: >
      Unidad Organizacional:
        - NMP - Nacional Monte de Piedad
        - FMP - Financiera Monte de piedad
    enum:
      - NMP
      - FMP

## Origen

  Origin:
    title: Origen
    type: object
    required:
      - unidadOrganizacional
      - canal
      - producto
      - origenDato
    properties:
      unidadOrganizacional:
        type: string
        description: Unidad Organizacional
      canal:
        type: string
        description: Canal
      producto:
        type: string
        description: Producto
      origenDato:
        type: string
        description: Origen del Dato

## Autor

  Author:
    title: Autor
    type: object
    required:
      - id
      - nombre
    properties:
      id:
        description: Identificador único de autor
        type: string
      nombre:
        description: Nombre del autor
        type: string

## Client

  ClientMin:
    title: Cliente
    type: object
    required:
      - id
      - nombre
      - apellidoPaterno
      - apellidoMaterno
    properties:
      id: 
        type: string
        description: > 
          Identificador único de cliente, asignado en el alta de registro
          en MongoDB
      nombre:
        type: string
        description: Nombre (s) del cliente
      apellidoPaterno:
        type: string
        description: Apellido Paterno del cliente
      apellidoMaterno:
        type: string
        description: Apellido Materno del cliente

## Solicitud

  Request:
    title: Solicitud
    type: object
    required:
      - id
      - folio
      - estado
      - tipo
      - cliente
      - autor
      - origen
      - fechaCreacion
      - fechaActualizacion
    properties:
      id:
        description: Identificador único de solicitud asignado por MongoDB
        type: string
      folio:
        description: Identificador único de solicitud generado en base al tipo de solicitud
        type: string
      estado:
        description: Estado de la solicitud
      tipo:
        $ref: "#/definitions/RequestTypeMin"
      cliente:
        $ref: "#/definitions/ClientMin"
      autor:
        $ref: "#/definitions/Author"
      origen:
        $ref: "#/definitions/Origin"
      fechaCreacion:
        type: string
        format: timestamp
        description: Fecha de creación
      fechaActualizacion:
        type: string
        format: timestamp
        description: Fecha de última actualización
    
  CreatedRequest:
    title: Creación de solicitud
    type: object
    
  RequestDetail:
    title: Detalle de solicitud
    type: object

  UpdatedRequest:
    title: Creación de solicitud
    type: object

  ArrayOfRequest:
    type: array
    items:
      $ref: "#/definitions/Request"

  PaginationOfRequest:
    title: Creación de solicitud
    type: object
    required:
      - content
      - page
    properties:
      content:
        $ref: '#/definitions/ArrayOfRequest'
      page:
        $ref: '#/definitions/Page'

## Tipos de Solicitud

  RequestTypeMin:
    title: Tipo de solicitud
    type: object
    properties:
      id: 
        description: Identificador único de tipo de solicitud
        type: string
      nombre:
        description: Nombre del tipo de solicitud
        type: string

  RequestType:
    title: Tipo de Solicitud
    type: object
    required:
      - id
      - nombre
      - fechaCreacion
      - fechaActualizacion
    properties:
      id: 
        description: Identificador único de tipo de solicitud
        type: string
      nombre:
        description: Nombre del tipo de solicitud
        type: string
      fechaCreacion:
        type: string
        format: timestamp
        description: Fecha de creación
      fechaActualizacion:
        type: string
        format: timestamp
        description: Fecha de última actualización
    
  CreatedRequestType:
    title: Creación tipo de solicitud
    type: object
    required:
      - nombre
    properties:
      nombre:
        description: Nombre del tipo de solicitud
        type: string
    
  RequestTypeDetail:
    title: Detalle de tipo de solicitud
    type: object
    required:
      - id
      - nombre
      - fechaCreacion
      - fechaActualizacion
    properties:
      id: 
        description: Identificador único de tipo de solicitud
        type: string
      nombre:
        description: Nombre del tipo de solicitud
        type: string
      fechaCreacion:
        type: string
        format: timestamp
        description: Fecha de creación
      fechaActualizacion:
        type: string
        format: timestamp
        description: Fecha de última actualización

  UpdatedRequestType:
    title: Creación de tipo desolicitud
    type: object
    required:
      - id
      - nombre
    properties:
      id: 
        description: Identificador único de tipo de solicitud
        type: string
      nombre:
        description: Nombre del tipo de solicitud
        type: string

  ArrayOfRequestType:
    type: array
    items:
      $ref: "#/definitions/RequestType"

  PaginationOfRequestType:
    title: Creación de tipo de solicitud
    type: object
    required:
      - content
      - page
    properties:
      content:
        $ref: '#/definitions/ArrayOfRequestType'
      page:
        $ref: '#/definitions/Page'

parameters:
  
## Header Params
  UOHeader:
    in: header
    name: unidadOrganizacional
    type: string
    <<: *UnidadOrganizacional
    description: Unidad organizacional
    default: "NMP"
    required: true
  
  ChannelHeader:
    in: header
    name: canal
    type: string
    description: Canal
    default: "Kiosko"
    required: true
  
  ProductHeader:
    in: header
    name: producto
    type: string
    description: Producto
    default: "Gestión de Clientes"
    required: true  
    
  DataOriginHeader:
    in: header
    name: origenDato
    type: string
    description: Origen de los datos
    default: "Web Kiosko"
    required: true

## Query Params
  UOQueryParam:
    in: query
    name: origen.unidadOrganizacional
    type: string
    <<: *UnidadOrganizacional
    description: Unidad organizacional
    default: "NMP"
  
  ChannelQueryParam:
    in: query
    name: origen.canal
    type: string
    description: Canal
    default: "Kiosko"
  
  ProductQueryParam:
    in: query
    name: origen.producto
    type: string
    description: Producto
    default: "Gestión de Clientes"
    
  DataOriginQueryParam:
    in: query
    name: origen.origenDato
    type: string
    description: Origen de los datos
    default: "Web Kiosko"
  
  PageNumberQueryParam:
    in: query
    name: pageNumber
    type: integer
    format: int32
    description: Número de página a mostrar en la búsqueda
    minimum: 0
    default: 0
    
  PageSizeQueryParam:
    in: query
    name: pageSize
    type: integer
    format: int32
    description: Número de elementos máximos a mostrar por página en la búsqueda 
    minimum: 1
    maximum: 50
    default: 30
    
  OrderByQueryParam:
    in: query
    name: orderBy
    type: string
    description: Campo para ordenamiento de resultados
    default: "createdAt"
    
  SortOrderQueryParam:
    in: query
    name: sortOrder
    type: string
    <<: *SORT_DIRECTION
    description: Ordenamiento ascendente y descendente
    default: "ASC"
  
  FromCreatedAtQueryParam:
    in: query
    name: fromCreatedAt
    type: string
    format: date-time
    description: Desde la fecha de Creación en formato `yyyy-mm-ddThh:mm:ss` definido en el RFC3339
    default: "2020-05-16T:09:00:00"
    
  ToCreatedAtQueryParam:
    in: query
    name: toCreatedAt
    type: string
    format: date-time
    description: Hasta la fecha de Creación en formato `yyyy-mm-ddThh:mm:ss` definido en el RFC3339
    default: "2020-05-16T:09:00:00"

responses:

## Response
  
  NoContent:
    description: 204 - No Content
  
  BadRequest:
    description: 400 - Bad Request
    schema:
      $ref: "#/definitions/BadRequest"
  
  Unauthorized:
    description: 401 - Unauthorized
    schema:
      $ref: "#/definitions/Unauthorized"
  
  Forbidden:
    description: 403 - Forbidden
    schema:
      $ref: "#/definitions/Forbidden"
  
  NotFound:
    description: 404 - Not Found
    schema:
      $ref: "#/definitions/NotFound"
  
  InternalServerError:
    description: 500 - Internal Server Error
    schema:
      $ref: "#/definitions/InternalServerError"

## GET /solicitudes
  
  GetPaginationOfRequestResponse:
    description: 200 - Ok
    schema:
      $ref: "#/definitions/PaginationOfRequest"
    examples:
      application/json:
        {
            "content": [
                {
                    "id": "612d47382b4b088b35e7e463",
                    "folio": "RHU-300821",
                    "estado": "CAPTURADA",
                    "tipo": {
                        "id": "612d47333bb9aac54f122023",
                        "nombre": "Registro de Huella"
                    },
                    "cliente": {
                        "id": "1579882956254802",
                        "nombre": "Cristian Gerardo",
                        "apellidoPaterno": "Jaramillo",
                        "apellidoMaterno": "Cruz"
                    },
                    "autor": {
                        "id": "cnolascop",
                        "nombre": "Claudia Ivonne Nolasco Pereira"
                    },
                    "origen": {
                        "unidadOrganizacional": "NMP",
                        "canal": "Kiosko",
                        "orginDato": "Web Kiosko",
                        "producto": "Gestión de Clientes"
                    },
                    "fechaCreacion": "2021-06-14T00:00:00",
                    "fechaActualizacion": "2021-06-14T00:00:00"
                }
            ],
            "page": {
                "number": 0,
                "size": 30,
                "totalPages": 1,
                "totalElements": 4
            }
        }
      
paths:

  /solicitudes:
    x-summary: /solicitudes
    parameters:
      - $ref: '#/parameters/ChannelHeader'
      - $ref: '#/parameters/UOHeader'
      - $ref: '#/parameters/DataOriginHeader'
      - $ref: '#/parameters/ProductHeader'
    get:
      tags: 
        - Solicitudes
      parameters:
        - $ref: "#/parameters/UOQueryParam"
        - $ref: "#/parameters/ChannelQueryParam"
        - $ref: "#/parameters/ProductQueryParam"
        - $ref: "#/parameters/DataOriginQueryParam"
        - $ref: "#/parameters/FromCreatedAtQueryParam"
        - $ref: "#/parameters/ToCreatedAtQueryParam"
        - $ref: "#/parameters/SortOrderQueryParam"
        - in: query
          name: tipoSolicitud
          description: Tipo de solicitud
          type: string
          format: uuid
      operationId: getV1PaginateOfRequest
      responses:
        "200":
          $ref: "#/responses/GetPaginationOfRequestResponse"
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '500':
          $ref: '#/responses/InternalServerError'